

span{
    width: 33%;
    display: inline-block;
    padding: 50px;
    color: white;
    background: chartreuse;
    font-size: 20px;
    margin:  auto ;

}
#d{
    width: 50%;
    background: chartreuse;
    font-size: 20px;
    margin:  50px auto ;
    
}
.container{
    display: flex;
    flex-direction:row ;

    
    align-items: center;
    justify-content: center;
   
    color: wheat;
}
.container div {

    text-align: center;
    background: black;
    margin: 20px;
    line-height: 100px;
    width: 100px;
}